<div id="home" class="content has-bg home">
  <div class="content-bg">
      <img src="../assets/img/bg/bg-home.jpg" alt="Home" />
  </div>
  <div class="container home-content">
      <h1>{{ 'HOME.CABECERA' | translate }}</h1>
      <h3>Multipurpose One Page Theme</h3>
      <p>
          We have created a multi-purpose theme that take the form of One-Page or Multi-Page Version.<br />
          Use our <a href="#">theme panel</a> to select your favorite theme color.
      </p>
      <a href="#" class="btn btn-theme">Explore More</a> <a href="#" class="btn btn-outline">Purchase Now</a><br />
      <br />
      or <a href="#">subscribe</a> newsletter
  </div>
</div>
