<footer id="footer" class="footer">
  <div class="container">
      <div class="footer-brand">
          <div class="footer-brand-logo"></div>
          Footer Component
      </div>
      <p>
          &copy; Copyright Fausto Silva 2018 <br />
          
      </p>
      <p class="social-list">
          <a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>       
      </p>
  </div>
</footer>
