<div id="experiencia" class="content" data-scrollview="true">
  <!-- begin container -->
  <div class="container">
      <h2 class="content-title">Experienca</h2>
      <p class="content-desc">
          Phasellus suscipit nisi hendrerit metus pharetra dignissim. Nullam nunc ante, viverra quis
          <br /> ex non, porttitor iaculis nisi.
      </p>
      <!-- begin row -->
      <div class="row">
          <!-- begin col-4 -->
          <div class="col-md-4 col-sm-4">
              <!-- begin team -->
              <div class="team" >
                  <div class="image" style="border: 2px solid rgb(12, 12, 78)" data-animation="true" data-animation-type="flipInX">
                      <img src="../assets/img/web/logos/icp.png" alt="ICP Logo" />
                  </div>
                  <div class="info">
                      <h3 class="name">ICP Logistica</h3>
                      <div class="title text-theme">WEB PROGRAMADOR</div>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                      <div class="social">
                          <a href="#">
                              <i class="fa fa-facebook fa-lg fa-fw"></i>
                          </a>
                          <a href="#">
                              <i class="fa fa-twitter fa-lg fa-fw"></i>
                          </a>
                          <a href="#">
                              <i class="fa fa-google-plus fa-lg fa-fw"></i>
                          </a>
                      </div>
                  </div>
              </div>
              <!-- end team -->
          </div>
          <!-- end col-4 -->
          <!-- begin col-4 -->
          <div class="col-md-4 col-sm-4">
              <!-- begin team -->
              <div class="team">
                  <div class="image" data-animation="true" data-animation-type="flipInX">
                      <img src="../assets/img/web/logos/binpar.png" alt="Binpar Team" />
                  </div>
                  <div class="info">
                      <h3 class="name">Binpar Team S.L</h3>
                      <div class="title text-theme">WEB PROGRAMADOR</div>
                      <p>Donec quam felis, ultricies nec, pellentesque eu sem. Nulla consequat massa quis enim.</p>
                      <div class="social">
                          <a href="#">
                              <i class="fa fa-facebook fa-lg fa-fw"></i>
                          </a>
                          <a href="#">
                              <i class="fa fa-twitter fa-lg fa-fw"></i>
                          </a>
                          <a href="#">
                              <i class="fa fa-google-plus fa-lg fa-fw"></i>
                          </a>
                      </div>
                  </div>
              </div>
              <!-- end team -->
          </div>
          <!-- end col-4 -->
          <!-- begin col-4 -->
          <div class="col-md-4 col-sm-4">
              <!-- begin team -->
              <div class="team">
                  <div class="image" data-animation="true" data-animation-type="flipInX">
                      <img src="../assets/img/web/logos/atos.png" alt="Atos" />
                  </div>
                  <div class="info">
                      <h3 class="name">Atos</h3>
                      <div class="title text-theme">WEB PROGRAMADOR</div>
                      <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. </p>
                      <div class="social">
                          <a href="#">
                              <i class="fa fa-facebook fa-lg fa-fw"></i>
                          </a>
                          <a href="#">
                              <i class="fa fa-twitter fa-lg fa-fw"></i>
                          </a>
                          <a href="#">
                              <i class="fa fa-google-plus fa-lg fa-fw"></i>
                          </a>
                      </div>
                  </div>
              </div>
              <!-- end team -->
          </div>
          <!-- end col-4 -->
      </div>
      <!-- end row -->

<br/>
       <!-- begin row -->
       <div class="row">
        <!-- begin col-4 -->
        <div class="col-md-4 col-sm-4">
            <!-- begin team -->
            <div class="team">
                <div class="image" data-animation="true" data-animation-type="flipInX">
                    <img src="../assets/img/web/logos/bull.png" alt="Bull" />
                </div>
                <div class="info">
                    <h3 class="name">BULL</h3>
                    <div class="title text-theme">JUNIOR PROGRAMADOR (Practicas)</div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="social">
                        <a href="#">
                            <i class="fa fa-facebook fa-lg fa-fw"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter fa-lg fa-fw"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-google-plus fa-lg fa-fw"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end team -->
        </div>
        <!-- end col-4 -->
        <!-- begin col-4 -->
        <div class="col-md-4 col-sm-4">
            <!-- begin team -->
            <div class="team">
                <div class="image" data-animation="true" data-animation-type="flipInX">
                    <img src="../assets/img/web/logos/online.png" alt="Online Tic" />
                </div>
                <div class="info">
                    <h3 class="name">ONLINE TIC</h3>
                    <div class="title text-theme">JUNIOR PROGRAMADOR</div>
                    <p>Donec quam felis, ultricies nec, pellentesque eu sem. Nulla consequat massa quis enim.</p>
                    <div class="social">
                        <a href="#">
                            <i class="fa fa-facebook fa-lg fa-fw"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter fa-lg fa-fw"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-google-plus fa-lg fa-fw"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end team -->
        </div>
        <!-- end col-4 -->
        <!-- begin col-4 -->
        <!-- OTRA TRABAJO -->
        <!-- end col-4 -->


    </div>
    <!-- end row -->


  </div>
  <!-- end container -->
</div>
