  <!-- Cabecera -->
  <app-header></app-header>
  <!-- Fin Cabecera -->

  <!-- Inicio -->
  <app-home></app-home>
  <!-- Fin Inicio -->

  <!-- Sobre -->
  <app-sobre></app-sobre>
  <!-- Fin Sobre -->

  <!-- Experienca -->
  <app-experiencia></app-experiencia>
  <!-- Fin Experienca -->

  <!-- Educacion -->
  <app-educacion></app-educacion>
  <!-- Fin Educacion -->

  <!-- Viajes -->
  <app-viajes></app-viajes>
  <!-- Fin Viajes -->

  <!-- Contacto -->
  <app-contacto></app-contacto>
  <!-- Fin Contacto -->


  <div id="milestone" class="content bg-black-darker has-bg" data-scrollview="true">
      <div class="content-bg">
          <img src="../assets/img/bg/bg-milestone.jpg" alt="Milestone" />
      </div>
      <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-3 milestone-col">
                  <div class="milestone">
                      <div class="number" data-animation="true" data-animation-type="number" data-final-number="1292">1,292</div>
                      <div class="title">Themes & Template</div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 milestone-col">
                  <div class="milestone">
                      <div class="number" data-animation="true" data-animation-type="number" data-final-number="9039">9,039</div>
                      <div class="title">Registered Members</div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 milestone-col">
                  <div class="milestone">
                      <div class="number" data-animation="true" data-animation-type="number" data-final-number="89291">89,291</div>
                      <div class="title">Items Sold</div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 milestone-col">
                  <div class="milestone">
                      <div class="number" data-animation="true" data-animation-type="number" data-final-number="129">129</div>
                      <div class="title">Theme Authors</div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div id="quote" class="content bg-black-darker has-bg" data-scrollview="true">
      <div class="content-bg">
          <img src="../assets/img/bg/bg-quote.jpg" alt="Quote" />
      </div>
      <div class="container" data-animation="true" data-animation-type="fadeInLeft">
          <div class="row">
              <div class="col-md-12 quote">
                  <i class="fa fa-quote-left"></i> Passion leads to design, design leads to performance,
                  <br /> performance leads to
                  <span class="text-theme">success</span>!
                  <i class="fa fa-quote-right"></i>
                  <small>Sean Themes, Developer Teams in Malaysia</small>
              </div>
          </div>
      </div>
  </div>

  <div id="service" class="content" data-scrollview="true">
      <div class="container">
          <h2 class="content-title">Our Services</h2>
          <p class="content-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,
              <br /> sed bibendum turpis luctus eget
          </p>
          <div class="row">
              <div class="col-md-4 col-sm-4">
                  <div class="service">
                      <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn">
                          <i class="fa fa-cog"></i>
                      </div>
                      <div class="info">
                          <h4 class="title">Easy to Customize</h4>
                          <p class="desc">Duis in lorem placerat, iaculis nisi vitae, ultrices tortor. Vestibulum molestie ipsum nulla.
                              Maecenas nec hendrerit eros, sit amet maximus leo.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4">
                  <div class="service">
                      <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn">
                          <i class="fa fa-paint-brush"></i>
                      </div>
                      <div class="info">
                          <h4 class="title">Clean & Careful Design</h4>
                          <p class="desc">Etiam nulla turpis, gravida et orci ac, viverra commodo ipsum. Donec nec mauris faucibus, congue
                              nisi sit amet, lobortis arcu.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4">
                  <div class="service">
                      <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn">
                          <i class="fa fa-file"></i>
                      </div>
                      <div class="info">
                          <h4 class="title">Well Documented</h4>
                          <p class="desc">Ut vel laoreet tortor. Donec venenatis ex velit, eget bibendum purus accumsan cursus. Curabitur
                              pulvinar iaculis diam.</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4 col-sm-4">
                  <div class="service">
                      <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn">
                          <i class="fa fa-code"></i>
                      </div>
                      <div class="info">
                          <h4 class="title">Re-usable Code</h4>
                          <p class="desc">Aenean et elementum dui. Aenean massa enim, suscipit ut molestie quis, pretium sed orci. Ut faucibus
                              egestas mattis.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4">
                  <div class="service">
                      <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn">
                          <i class="fa fa-shopping-cart"></i>
                      </div>
                      <div class="info">
                          <h4 class="title">Online Shop</h4>
                          <p class="desc">Quisque gravida metus in sollicitudin feugiat. Class aptent taciti sociosqu ad litora torquent
                              per conubia nostra, per inceptos himenaeos.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4">
                  <div class="service">
                      <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn">
                          <i class="fa fa-heart"></i>
                      </div>
                      <div class="info">
                          <h4 class="title">Free Support</h4>
                          <p class="desc">Integer consectetur, massa id mattis tincidunt, sapien erat malesuada turpis, nec vehicula lacus
                              felis nec libero. Fusce non lorem nisl.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div id="action-box" class="content has-bg" data-scrollview="true">
      <div class="content-bg">
          <img src="../assets/img/bg/bg-action.jpg" alt="Action" />
      </div>
      <div class="container" data-animation="true" data-animation-type="fadeInRight">
          <div class="row action-box">
              <div class="col-md-9 col-sm-9">
                  <div class="icon-large text-theme">
                      <i class="fa fa-binoculars"></i>
                  </div>
                  <h3>CHECK OUT OUR ADMIN THEME!</h3>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus faucibus magna eu lacinia eleifend.
                  </p>
              </div>
              <div class="col-md-3 col-sm-3">
                  <a href="#" class="btn btn-outline btn-block">Live Preview</a>
              </div>
          </div>
      </div>
  </div>

  <div id="client" class="content has-bg bg-green" data-scrollview="true">
      <div class="content-bg">
          <img src="../assets/img/bg/bg-client.jpg" alt="Client" />
      </div>
      <div class="container" data-animation="true" data-animation-type="fadeInUp">
          <h2 class="content-title">Our Client Testimonials</h2>
          <div class="carousel testimonials slide" data-ride="carousel" id="testimonials">
              <div class="carousel-inner text-center">
                  <div class="item active">
                      <blockquote>
                          <i class="fa fa-quote-left"></i>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra, nulla ut interdum fringilla,
                          <br
                          /> urna massa cursus lectus, eget rutrum lectus neque non ex.
                          <i class="fa fa-quote-right"></i>
                      </blockquote>
                      <div class="name"> —
                          <span class="text-theme">Mark Doe</span>, Designer</div>
                  </div>
                  <div class="item">
                      <blockquote>
                          <i class="fa fa-quote-left"></i>
                          Donec cursus ligula at ante vulputate laoreet. Nulla egestas sit amet lorem non bibendum.
                          <br
                          /> Nulla eget risus velit. Pellentesque tincidunt velit vitae tincidunt finibus.
                          <i class="fa fa-quote-right"></i>
                      </blockquote>
                      <div class="name"> —
                          <span class="text-theme">Joe Smith</span>, Developer</div>
                  </div>
                  <div class="item">
                      <blockquote>
                          <i class="fa fa-quote-left"></i>
                          Sed tincidunt quis est sed ultrices. Sed feugiat auctor ipsum, sit amet accumsan elit vestibulum
                          <br
                          /> fringilla. In sollicitudin ac ligula eget vestibulum.
                          <i class="fa fa-quote-right"></i>
                      </blockquote>
                      <div class="name"> —
                          <span class="text-theme">Linda Adams</span>, Programmer</div>
                  </div>
              </div>
              <ol class="carousel-indicators">
                  <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                  <li data-target="#testimonials" data-slide-to="1" class=""></li>
                  <li data-target="#testimonials" data-slide-to="2" class=""></li>
              </ol>
          </div>
      </div>
  </div>

  <div id="pricing" class="content" data-scrollview="true">
      <div class="container">
          <h2 class="content-title">Our Price</h2>
          <p class="content-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,
              <br /> sed bibendum turpis luctus eget
          </p>
          <ul class="pricing-table col-4">
              <li data-animation="true" data-animation-type="fadeInUp">
                  <div class="pricing-container">
                      <h3>Starter</h3>
                      <div class="price">
                          <div class="price-figure">
                              <span class="price-number">FREE</span>
                          </div>
                      </div>
                      <ul class="features">
                          <li>1GB Storage</li>
                          <li>2 Clients</li>
                          <li>5 Active Projects</li>
                          <li>5 Colors</li>
                          <li>Free Goodies</li>
                          <li>24/7 Email support</li>
                      </ul>
                      <div class="footer">
                          <a href="#" class="btn btn-inverse btn-block">Buy Now</a>
                      </div>
                  </div>
              </li>
              <li data-animation="true" data-animation-type="fadeInUp">
                  <div class="pricing-container">
                      <h3>Basic</h3>
                      <div class="price">
                          <div class="price-figure">
                              <span class="price-number">$9.99</span>
                              <span class="price-tenure">per month</span>
                          </div>
                      </div>
                      <ul class="features">
                          <li>2GB Storage</li>
                          <li>5 Clients</li>
                          <li>10 Active Projects</li>
                          <li>10 Colors</li>
                          <li>Free Goodies</li>
                          <li>24/7 Email support</li>
                      </ul>
                      <div class="footer">
                          <a href="#" class="btn btn-inverse btn-block">Buy Now</a>
                      </div>
                  </div>
              </li>
              <li class="highlight" data-animation="true" data-animation-type="fadeInUp">
                  <div class="pricing-container">
                      <h3>Premium</h3>
                      <div class="price">
                          <div class="price-figure">
                              <span class="price-number">$19.99</span>
                              <span class="price-tenure">per month</span>
                          </div>
                      </div>
                      <ul class="features">
                          <li>5GB Storage</li>
                          <li>10 Clients</li>
                          <li>20 Active Projects</li>
                          <li>20 Colors</li>
                          <li>Free Goodies</li>
                          <li>24/7 Email support</li>
                      </ul>
                      <div class="footer">
                          <a href="#" class="btn btn-theme btn-block">Buy Now</a>
                      </div>
                  </div>
              </li>
              <li data-animation="true" data-animation-type="fadeInUp">
                  <div class="pricing-container">
                      <h3>Lifetime</h3>
                      <div class="price">
                          <div class="price-figure">
                              <span class="price-number">$999</span>
                          </div>
                      </div>
                      <ul class="features">
                          <li>Unlimited Storage</li>
                          <li>Unlimited Clients</li>
                          <li>Unlimited Projects</li>
                          <li>Unlimited Colors</li>
                          <li>Free Goodies</li>
                          <li>24/7 Email support</li>
                      </ul>
                      <div class="footer">
                          <a href="#" class="btn btn-inverse btn-block">Buy Now</a>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
  </div>


  <!-- Footer -->
  <app-footer></app-footer>
  <!-- Fin Footer -->

  <!-- begin theme-panel -->
  <!-- <div class="theme-panel">
      <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
      <div class="theme-panel-content">
          <ul class="theme-list clearfix">
              <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-theme-file="../assets/css/one-page-parallax/theme/purple.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
              <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-theme-file="../assets/css/one-page-parallax/theme/blue.css" data-theme-file="" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
              <li class="active"><a href="javascript:;" class="bg-green" data-theme-file="../assets/css/one-page-parallax/theme/default.css" data-theme-file="" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
              <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-theme-file="../assets/css/one-page-parallax/theme/orange.css" data-theme-file="" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
              <li><a href="javascript:;" class="bg-red" data-theme="red" data-theme-file="../assets/css/one-page-parallax/theme/red.css" data-theme-file="" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
          </ul>
      </div>
  </div> -->
  <!-- end theme-panel -->

<!-- 
  <app-load-ring [visible]="loading"></app-load-ring>
<app-modal-ejemplo [visible]="modalEjemplo" (cerrar)="modalEjemploCerrar()" (confirmar)="modalEjemploConfirmar()"></app-modal-ejemplo> -->




<!-- <div class="row">
    <div class="col-md-6 offset-md-3" style="border: solid 1px rgb(87, 156, 221);background-color:rgb(104, 206, 232); height:100px;margin-top:30px;text-align:center;">
      <p style="color:white;margin-top:40px; font-size:17px; font-weight:900">{{ 'TITULO' | translate }}</p>
    </div>
  </div> -->